.slick-slide-header {
  height: 350px !important;
}
.slick-slide-header .slick-list {
  height: 350px !important;
}

.slick-slide-header .slick-list {
  height: 350px !important;
}

.slick-slide-header .slick-track {
  height: 350px !important;
}
.slick-slide-header .slick-slide {
  height: 350px !important;
}
